<div class="row">
  <div class="col-md-4 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-info">
        <i class="fa fa-user"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Total Usuarios</span>
        <span class="info-box-number">{{usuarios.length}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-info">
        <i class="fa fa-user"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Usuarios Normales</span>
        <span class="info-box-number">{{usuarios_normales.length}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-info">
        <i class="fa fa-user"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Usuarios Supervisores</span>
        <span class="info-box-number">{{supervisores.length}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12">
    <div class="info-box">
            <span class="info-box-icon bg-info">
        <i class="fa fa-suitcase" aria-hidden="true"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Total vuelos</span>
        <span class="info-box-number">{{vuelos.length}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12">
    <div class="info-box">
            <span class="info-box-icon bg-info">
        <i class="fa fa-suitcase" aria-hidden="true"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Vuelos pasados</span>
        <span class="info-box-number">{{vuelosPasados.length}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-info">
        <i class="fa fa-suitcase" aria-hidden="true"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Vuelos Presentes</span>
        <span class="info-box-number">{{vuelosPresentes.length}}</span>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="info-box">
      <span class="info-box-icon bg-info">
        <i class="fa fa-plane" aria-hidden="true"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Total aviones</span>
        <span class="info-box-number">{{aviones.length}}</span>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="info-box">
      <span class="info-box-icon bg-info">
        <i class="fa fa-space-shuttle"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Total Aerolineas</span>
        <span class="info-box-number">{{aerolineas.length}}</span>
      </div>
    </div>
  </div>
</div>
